@import "../../styles/CenterItemsContainer";

.modalClose {
  height: 0;
  display: none;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);

  .modalContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    background-color: white;

    .modalContainerContent {
      font-size: 17pt;
      margin-right: 20px;
    }

    .buttonCloseModal {
      float: right;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      position: relative;
      z-index: 1;
      cursor: pointer;

      &:before {
        content: '+';
        color: black;
        position: absolute;
        z-index: 2;
        transform: rotate(45deg);
        font-size: 50px;
        line-height: 1;
        top: -5px;
        left: 6px;
        transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        background: black;
        z-index: 1;
        transition: all 0.3s cubic-bezier(0.77, 0, 0.2, 0.85);
        transform: scale(0.01);
      }

      &:hover:after {
        transform: scale(1);
      }

      &:hover:before {
        transform: scale(0.8) rotate(45deg);
        color: #fff;
      }
    }
  }
}


